/node_modules
/public/backup
/public/build/
/public/frontend_backup
/public/images/uploads
/public/images/profile
# /public/img
/public/uploads
/public/images/logos
/public/images/starting_city
/public/images/property
!/public/images/property/0
/storage/db-backups/*.sql
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
hot