container_commands:
    01-no_dev:
        command: "composer.phar install --optimize-autoloader"            
    03-clear_cache:
        command: 
            "php artisan cache:clear"
    04-config_clear:
        command: "php artisan config:clear"
    05-view_clear:
        command: 
            "php artisan view:clear"    
    07-view_cache:
        command: 
            "php artisan view:cache"
    08-migrate:
        leader_only: true
        ignoreErrors: true
        command: 
            "php artisan migrate --force"
    command-01: 
        command:
            "cp .ebextensions/.htpasswd /var/app/current"

    
